﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="macEgypt.Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="CPTitle" runat="server">
        </asp:ContentPlaceHolder>
        <asp:Literal Text=" | M.A.C. Egypt" runat="server" />
    </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<%--    <link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />--%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <style type="text/css" media="screen">
        .ohHide {
            display: none !important;
        }
         #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active, #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover, body #booked-profile-page input[type=submit].button-primary:hover, body .booked-list-view button.button:hover, body .booked-list-view input[type=submit].button-primary:hover, body table.booked-calendar input[type=submit].button-primary:hover, body .booked-modal input[type=submit].button-primary:hover, body table.booked-calendar th, body table.booked-calendar thead, body table.booked-calendar thead th, body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover, body #booked-profile-page .booked-profile-header, body #booked-profile-page .booked-tabs li.active a, body #booked-profile-page .booked-tabs li.active a:hover, body #booked-profile-page .appt-block .google-cal-button > a:hover, #ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header {
             background: #d8d8d8 !important;
         }

        body .thumbnail {
            margin-bottom: 0px;
        }

        body #booked-profile-page input[type=submit].button-primary:hover, body table.booked-calendar input[type=submit].button-primary:hover, body .booked-list-view button.button:hover, body .booked-list-view input[type=submit].button-primary:hover, body .booked-modal input[type=submit].button-primary:hover, body table.booked-calendar th, body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover, body #booked-profile-page .booked-profile-header, body #booked-profile-page .appt-block .google-cal-button > a:hover {
            border-color: #d8d8d8 !important;
        }

        body table.booked-calendar tr.days, body table.booked-calendar tr.days th, body .booked-calendarSwitcher.calendar, body #booked-profile-page .booked-tabs, #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead, #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead th {
            background: #3B6097 !important;
        }

        body table.booked-calendar tr.days th, body #booked-profile-page .booked-tabs {
            border-color: #3B6097 !important;
        }

        #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a, #ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a:hover, body #booked-profile-page input[type=submit].button-primary, body table.booked-calendar input[type=submit].button-primary, body .booked-list-view button.button, body .booked-list-view input[type=submit].button-primary, body .booked-list-view button.button, body .booked-list-view input[type=submit].button-primary, body .booked-modal input[type=submit].button-primary, body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button, body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block, body #booked-profile-page .appt-block .google-cal-button > a, body .booked-modal p.booked-title-bar, body table.booked-calendar td:hover .date span, body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active, body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover, .booked-ms-modal .booked-book-appt /* Multi-Slot Booking */ {
            background: #3B6097;
        }

        body #booked-profile-page input[type=submit].button-primary, body table.booked-calendar input[type=submit].button-primary, body .booked-list-view button.button, body .booked-list-view input[type=submit].button-primary, body .booked-list-view button.button, body .booked-list-view input[type=submit].button-primary, body .booked-modal input[type=submit].button-primary, body #booked-profile-page .appt-block .google-cal-button > a, body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button, body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active, body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover {
            border-color: #3B6097;
        }

        body .booked-modal .bm-window p i.fa, body .booked-modal .bm-window a, body .booked-appt-list .booked-public-appointment-title, body .booked-modal .bm-window p.appointment-title, .booked-ms-modal.visible:hover .booked-book-appt {
            color: #3B6097;
        }

        .booked-appt-list .timeslot.has-title .booked-public-appointment-title {
            color: inherit;
        }
    </style>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        body .price del {
            display: inline-table !important;
        }

        body .price {
            margin-top: -31px !important;
            padding-left: 1px !important;
            margin-bottom: 20px;
        }

        body .woocommerce-Price-amount.amount {
            font-size: 9pt !important;
        }

        body .up-sells.upsells.products .woocommerce-Price-amount, body .summary.entry-summary .woocommerce-Price-amount {
            font-size: 25pt !important;
        }
    </style>
    <%--    <link href="CSS/woocommerce-smallscreen.css" rel="stylesheet" />--%>
    <link href="CSS/all.css" rel="stylesheet" />
    <link href="CSS/animations.css" rel="stylesheet" />
    <link href="CSS/contact_styles.css" rel="stylesheet" />
    <link href="CSS/frontend-style.css" rel="stylesheet" />
    <link href="CSS/icons.css" rel="stylesheet" />
    <link href="CSS/layout.css" rel="stylesheet" />
    <link href="CSS/magnific.css" rel="stylesheet" />
    <link href="CSS/pac.css" rel="stylesheet" />
    <link href="CSS/responsive.css" rel="stylesheet" />
    <link href="CSS/settings.css" rel="stylesheet" />
    <link href="CSS/styles.css" rel="stylesheet" />
    <link href="CSS/switcher.css" rel="stylesheet" />
    <link href="CSS/tooltipster-light.css" rel="stylesheet" />
    <link href="CSS/tooltipster.css" rel="stylesheet" />
    <link href="CSS/validationEngine.jquery.css" rel="stylesheet" />
    <link href="CSS/woocommerce-layout.css" rel="stylesheet" />
    <link href="CSS/woocommerce.css" rel="stylesheet" />
    <link href="http://www.mac-egypt.com/images/logo.png" rel="icon" />
    <style id='front-all-inline-css' type='text/css'>
        .screens .linkarea img {
            box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
            transition: all .3s ease;
            border-radius: 2px;
        }

        .screens .linkarea img:hover {
            box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.16);
            margin-top: -10px;
        }

        .page-id-10091 #style-switcher {
            display: none;
        }

        body .wpv-overlay-search-trigger-Big {
            display: block;
        }

        body .mobile-logo-additions {
            width: 100% !important;
            min-width: 200px;
        }

        body input.Search {
            height: 30px;
            margin: 7px auto;
            width: 90%;
            border-radius: 5px;
        }

        body .cart-dropdown1, .cart-dropdown-inner1 {
            width: 80% !important;
            display: -webkit-inline-box;
        }

        body.sticky-header-type-over.sticky-header.wpv-not-scrolled header.main-header.layout-standard .second-row, body.sticky-header-type-over.sticky-header.wpv-not-scrolled header.main-header.layout-logo-text-menu .second-row {
            border-top-color: rgba(237, 237, 237, 0.2);
        }

        .search-wrapper {
            display: -webkit-inline-box !important;
        }




        /* Welcome page only! */

        .w-header {
            text-align: center;
        }

        .w-header .grid-1-6 {
            display: inline-block;
            float: none;
        }

        .w-header h3 {
            margin: 0px;
            font-weight: 600;
        }

        .w-header p {
            margin-top: 0.5em;
        }

        .w-header .sep {
            opacity: 0.2;
        }



        .page-id-10091 h2 {
            font-size: 3em;
            line-height: 1em;
            font-weight: 100;
            color: #7C8A8D;
            margin-bottom: 10px;
        }

        .big-text {
            font-size: 1.3em;
            line-height: 1.2em;
            font-weight: 100;
        }

        .plugin-logos img {
            padding: 0px 20px;
            display: inline-block;
        }


        .more-testimonials {
            border: solid 1px #EDEDED;
            text-align: center;
            padding: 20px 30px;
            border: 1px solid #D9D9D9;
        }

        .more-testimonials h3 {
            margin-bottom: 9px;
            margin-top: 6px;
        }

        .more-testimonials p {
            margin-top: 0px;
        }

        .dark-bg h2 {
            color: #fff !important;
        }

        @media (max-width: 958px) {
            .twitter-button {
                margin-bottom: 20px;
            }

            .w-header .extended-content {
                left: 0px !important;
                right: 0px !important;
            }
        }




        /* latin-ext */
        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
            src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
            src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqhPAMif.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* latin-ext */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqhPAMif.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        .broken_link, a.broken_link {
            text-decoration: line-through;
        }

        body .btnToggleMenu {
            position: relative;
            top: 20%;
            font-size: 20pt;
            margin-top: 2%;
            display: none;
            padding: 20px;
            color: #3B6097;
        }

        body .logo-wrapper {
            padding-left: unset !important;
        }

        @media (min-width: 959px) {
            body .mainContnt {
                width: 100%;
            }

            body .myAside {
                display: none;
            }
        }

        @media (max-width: 959px) {
            body .btnToggleMenu {
                display: table-cell;
            }

            body .myAside {
                display: none;
            }

            body .btnToggleMenu:hover {
                cursor: pointer;
            }

            body #page {
                /*padding-left: 250px;*/
            }

            body .asideMenu ul li {
                list-style-type: none;
            }
        }

        body .glyphicon-user:hover {
            color: #3B6097;
            background-color: none;
        }

        body .row.page-wrapper {
            margin-left: 0px;
        }

        body #AdminSpan {
            font-size: 20pt;
            vertical-align: middle;
        }

        body #AdminSpan a i {
            font-size: 14pt;
        }
    </style>
    <%--    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>--%>
    <script src="JS/jquery.js"></script>
    <link href="CSS/myStyles.css" rel="stylesheet" />
    <script type='text/javascript' src='https://construction.vamtam.com/wp-content/themes/construction/vamtam/assets/js/modernizr.min.js'></script>
    <script type='text/javascript' src='https://construction.vamtam.com/wp-content/plugins/booked-woocommerce-payments//js/frontend-functions.js'></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body .header-center {
            /*max-width: 900px;
            min-width: 900px;
            margin-right: 200px;*/
        }

        body .searchy {
            width: fit-content;
            display: -webkit-inline-box;
            /*float: right !important;*/
        }

        .seacond-row {
            display: -webkit-inline-box;
        }

        body .products.cart-empty {
            margin-right: -20px !important;
        }

        body .icon theme {
            font-size: 25pt !important;
            padding: 5px 15px 0 0 !important;
        }
        .wpv-scroll-to-top:hover {
            cursor: pointer;
        }
    </style>
    <asp:ContentPlaceHolder ID="CPHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="home page-template-default page page-id-4 page-child parent-pageid-11 layout-full wc-pac-hide-product-count wc-pac-hide-add-to-cart wc-pac-hide-rating no-sticky-header-animation full pagination-load-more page-vertical-padding-none sticky-header-type-normal wpv-not-scrolled no-page-header has-header-slider no-header-sidebars responsive-layout no-breadcrumbs no-slider-button-thumbnails sticky-header">
    <form id="form1" runat="server" enctype="multipart/form-data">
        <asp:ScriptManager runat="server" />
        <span id="top"></span>
        <%--<div class="wpv-splash-screen">
            <div class="wpv-splash-screen-logo" style="background: url(_https_/construction.vamtam.com/wp-content/uploads/2014/12/load-icon.html) center center no-repeat"></div>
        </div>--%>
        <div class="row">
            <div class=" col-sm-3 myAside">
                <div class="asideMenu" style="width: 230px; padding-right: 0px; position: relative; overflow: visible; vertical-align: top; transform: translate3d(0px, 0px, 0px);">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="Default.aspx">HOME
                            </a>
                        </li>
                        <%--<li class="dropdown">
                            <a href="lob.aspx" class="dropdown-toggle" data-toggle="dropdown">L.O.B. <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">B2B</a></li>
                                <li><a href="#">B2C</a></li>
                            </ul>
                        </li>--%>
                        <li class="dropdown">
                            <a href="about.aspx">ABOUT</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="FAQs.aspx">FAQs</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="brands.aspx" class="dropdown-toggle" data-toggle="dropdown">BRANDS & PARTNERS <%--<span class="caret">--%></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="Compatibility.aspx">Compatibilities</a></li>
                                <%--<li><a href="Shop.aspx?Brand=JABRA">JABRA</a></li>
                                <li><a href="Shop.aspx?Brand=OTHER">OTHER</a></li>--%>
                            </ul>
                        </li>
                        <li>
                            <a href="news.aspx">NEWS</a>
                        </li>
                        <%--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Dropdown heading</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>--%>
                        <li>
                            <a href="FEATURES.aspx">FEATURES</a>
                        </li>
                        <li>
                            <a href="contact.aspx">CONTACT US</a>
                        </li>
                        <li>
                            <a href="shop.aspx">E-SHOP</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 mainContnt">

                <div id="page" class="main-container">
                    <div class="fixed-header-box">
                        <header class="main-header layout-logo-text-menu  ">
                            <div id="top-nav-wrapper">
                                <nav class="top-nav social-text">
                                    <div class="limit-wrapper header-padding top-nav-inner">
                                        <div class="row">
                                            <div class="row ">
                                                <div class="grid-1-2" id="top-nav-social">
                                                    <span>Stay connected:</span>
                                                    <a href="#" target="_blank"><span class='icon shortcode theme  use-hover' style=''>&#57387;</span></a>
                                                    <a href="#" target="_blank"><span class='icon shortcode   use-hover' style=''>&#58159;</span></a>
                                                    <a href="#" target="_blank"><span class='icon shortcode   use-hover' style=''>&#58209;</span></a>
                                                    <span id="AdminSpan" runat="server">
                                                        <asp:Literal Text=" | " runat="server" />
                                                        <a href="App.aspx?XID=XML"><i class="glyphicon glyphicon-user"></i></a>
                                                    </span>
                                                </div>
                                                <div class="grid-1-2" id="top-nav-text">
                                                    <asp:Label ID="lblSchedule" Text="Mon – Sat: 7.00 – 18.00 · Sunday: Closed · Emergency: 24hr / 7days" runat="server" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="header-content-wrapper hidden-lg hidden-md">
                                <div class="first-row limit-wrapper header-padding">
                                    <div class="first-row-wrapper">
                                        <div class="first-row-left">

                                            <div class="logo-wrapper ">
                                                <span class="glyphicon glyphicon-th-list btnToggleMenu"></span>
                                                <a href="default.aspx" title="Construction Renovation Theme" class="logo " style="min-width: 202px">
                                                    <img src="http://www.mac-egypt.com/images/logo.png" alt="Construction Renovation Theme" class="normal-logo" height="48" style="max-height: 48px;" />
                                                    <img src="http://www.mac-egypt.com/images/logo.png" alt="Construction Renovation Theme" class="alternative-logo" height="96" style="max-height: 48px;" />
                                                </a>
                                                <div class="mobile-logo-additions" style="display: none;">
                                                    <input type="text" id="txtSearch" placeholder="Search Products" class="input-text Search" value="" />
                                                    <button class="header-search icon wpv-overlay-search-trigger">&#57645;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="first-row-right">
                                            <div class="first-row-right-inner">
                                                <div id="header-text">
                                                    <div class="clearfix" style="width: fit-content; float: right;">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div class="cart-dropdown" style="width: fit-content; display: -webkit-inline-box; float: left;">
                                                                    <div class="cart-dropdown-inner">
                                                                        <a class="vamtam-cart-dropdown-link icon theme" href="cart.aspx">
                                                                            <span class="icon theme" style="font-size: 25pt !important; padding: 5px 15px 0 0 !important;"></span>
                                                                            <span class="products cart-empty" style="margin-right: -20px !important;">0</span>
                                                                        </a>
                                                                        <div class="widget woocommerce widget_shopping_cart">
                                                                            <div class="widget_shopping_cart_content">

                                                                                <p class="woocommerce-mini-cart__empty-message">No products in the cart.</p>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-1-2">
                                                                    <span class='icon shortcode theme  use-hover' style='color: #D8D8D8; font-size: 32px !important;'>&#57438;</span>
                                                                    <p>
                                                                        WANT AN APPROXIMATE PRICE?<br />
                                                                        <a href="Contact.aspx"><strong>GET A FREE QUOTE »</strong></a>
                                                                    </p>
                                                                </div>
                                                                <div class="grid-1-2">
                                                                    <i class="material-icons" style='height: 64.4px; color: #D8D8D8; font-size: 38px !important; vertical-align: middle; padding-top: 13px;'>verified_user</i>
                                                                    <p>
                                                                        <a href="account.aspx"><strong>Login</strong></a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-row header-content-wrapper">
                                <div class="limit-wrapper header-padding">
                                    <div class="second-row-columns row" style="display: -webkit-inline-box;">
                                        <div class="header-center">
                                            <div id="menus">
                                                <nav id="main-menu">
                                                    <a href="#content" title="Skip to content" class="visuallyhidden">Skip to content</a>
                                                    <div class="menu-main-menu-container">
                                                        <ul id="menu-main-menu" class="menu">
                                                            <li id="menu-item-7885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7885"><a href="default.aspx" title="Construction Renovation Theme" class="logo " style="min-width: 202px">
                                                                <img src="http://www.mac-egypt.com/images/logo.png" alt="Construction Renovation Theme" class="alternative-logo" height="96" style="max-height: 48px;" />
                                                            </a>

                                                            </li>
                                                            <li id="menu-item-9423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-9423"><a href="default.aspx"><span>HOME</span></a>
                                                                <div class='sub-menu-wrapper' style="display: none;">
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-9948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-9948"><a href="default.aspx"><span>Company</span></a></li>
                                                                        <li id="menu-item-10115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10115"><a href="home-layouts/home-clean/index.html"><span>Clean &#038; Simple</span></a></li>
                                                                        <li id="menu-item-10114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10114"><a href="home-layouts/home-clean-big-slider/index.html"><span>Fullscreen Slider</span></a></li>
                                                                        <li id="menu-item-9821" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9821"><a href="home-layouts/home-personal/index.html"><span>Sole Trader</span></a></li>
                                                                        <li id="menu-item-10070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10070"><a href="home-layouts/architecture-home/index.html"><span>Architecture</span></a></li>
                                                                        <li id="menu-item-10128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10128"><a href="home-layouts/get-all-codes/index.html"><span>Get all codes</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <%--<li id="menu-item-8021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8021"><a href="lob.aspx"><span>L.O.B.</span></a>
                                                                <div class='sub-menu-wrapper' style="">
                                                                    <ul class="sub-menu">
                                                                        
                                                                        <li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743"><a href="#"><span>B2B</span></a></li>
                                                                        <li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743"><a href="#"><span>B2C</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>--%>
                                                            <li id="menu-item-7779" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7779"><a href="about.aspx"><span>ABOUT</span></a>
                                                                <div class='sub-menu-wrapper'>
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-7777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7777"><a href="FAQs.aspx"><span>FAQs</span></a></li>
<%--                                                                        <li id="menu-item-9375" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9375"><a href="#"><span>Clients</span></a></li>
                                                                        <li id="menu-item-9643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9643"><a href="reviews/index.html"><span>Reviews</span></a></li>
                                                                        <li id="menu-item-8026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8026"><a href="faq/index.html"><span>FAQ</span></a></li>
                                                                        <li id="menu-item-9642" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9642"><a href="pricing/index.html"><span>Pricing</span></a></li>
                                                                        <li id="menu-item-9539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9539"><a href="about/get-all-codes/index.html"><span>Get all codes</span></a></li>--%>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li id="menu-item-7884" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7884"><a href="Brands.aspx"><span>BRANDS & PARTNERS</span></a>
                                                                <div class='sub-menu-wrapper'>
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-7742" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7742"><a href="Compatibility.aspx"><span>Compatibilities</span></a></li>
                                                                        <%--<li id="menu-item-9881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9881"><a href="Shop.aspx?Brand=Jabra"><span>Jabra</span></a></li>
                                                                        <li id="menu-item-9743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9743"><a href="Shop.aspx?Brand=Other"><span>Other</span></a></li>--%>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li id="menu-item-7885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7885"><a href="news.aspx"><span>NEWS</span></a>
                                                                <div class='sub-menu-wrapper' style="display: none;">
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-7719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7719"><a href="blog/blog-layout-3/index.html"><span>Masonry Style</span></a></li>
                                                                        <li id="menu-item-7717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7717"><a href="blog/blog-layout-1/index.html"><span>Blog Layout 1</span></a></li>
                                                                        <li id="menu-item-7718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7718"><a href="blog/blog-layout-2/index.html"><span>Blog Layout 2</span></a></li>
                                                                        <li id="menu-item-7720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7720"><a href="blog/blog-post-formats/index.html"><span>Blog Post Formats</span></a></li>
                                                                        <li id="menu-item-7721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7721"><a href="blog/get-all-codes/index.html"><span>Get all codes</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li id="menu-item-7814" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7814"><a href="Features.aspx"><span>FEATURES</span></a>
                                                                <div class='sub-menu-wrapper' style="display: none;">
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-7738" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7738"><a href="features/theme-options-2/index.html"><span>Theme Options</span></a></li>
                                                                        <li id="menu-item-7815" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7815"><a><span>Elements</span></a>
                                                                            <div class='sub-menu-wrapper'>
                                                                                <ul class="sub-menu">
                                                                                    <li id="menu-item-7724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7724"><a href="features/elements/drag-drop-elements-1/index.html"><span>Elements 1</span></a></li>
                                                                                    <li id="menu-item-7727" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7727"><a href="features/elements/drag-drop-elements-3/index.html"><span>Elements 2</span></a></li>
                                                                                    <li id="menu-item-7726" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7726"><a href="features/elements/drag-drop-elements-2/index.html"><span>Elements 3</span></a></li>
                                                                                    <li id="menu-item-7725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7725"><a href="features/elements/drag-drop-elements-4/index.html"><span>Elements 4</span></a></li>
                                                                                    <li id="menu-item-7728" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7728"><a href="features/elements/typography/index.html"><span>Typography</span></a></li>
                                                                                    <li id="menu-item-7729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7729"><a href="features/elements/icons/index.html"><span>Icons</span></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </li>
                                                                        <li id="menu-item-7816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7816"><a><span>Templates</span></a>
                                                                            <div class='sub-menu-wrapper'>
                                                                                <ul class="sub-menu">
                                                                                    <li id="menu-item-7732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7732"><a href="features/templates/body-top-widget-area/index.html"><span>Body Top Widget Area</span></a></li>
                                                                                    <li id="menu-item-7733" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7733"><a href="features/templates/blank-page/index.html"><span>Coming Soon Page</span></a></li>
                                                                                    <li id="menu-item-7734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7734"><a href="features/templates/left-sidebar/index.html"><span>Left Sidebar</span></a></li>
                                                                                    <li id="menu-item-7735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7735"><a href="features/templates/maintenance-mode/index.html"><span>Maintenance Mode</span></a></li>
                                                                                    <li id="menu-item-7736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7736"><a href="features/templates/right-sidebar/index.html"><span>Right Sidebar</span></a></li>
                                                                                    <li id="menu-item-7737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7737"><a href="features/templates/two-sidebars/index.html"><span>Two Sidebars</span></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </li>
                                                                        <li id="menu-item-7739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7739"><a href="features/why-buy-the-theme/index.html"><span>Why Buy The Theme</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li id="menu-item-7785" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7785"><a href="contact.aspx"><span>CONTACT US</span></a></li>
                                                            <li id="menu-item-9975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9975"><a href="Shop.aspx"><span>E-SHOP</span></a>
                                                                <div class='sub-menu-wrapper' style="display: none;">
                                                                    <ul class="sub-menu">
                                                                        <li id="menu-item-9976" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9976"><a href="shop-home/index.html"><span>Shop + Slider &#038; Baners</span></a></li>
                                                                        <li id="menu-item-9735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9735"><a href="shop/index.html"><span>Standard Shop Archive</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <%-- <li id="menu-item-7786" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7785">--%>

                                                            <%--</li>--%>
                                                        </ul>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                        <div class="searchy">
                                            <div class="cart-dropdown1">
                                                <div class="cart-dropdown-inner1" style="display: none;">
                                                    <input type="text" id="txtSearchSm" style="width: 100% !important;" placeholder="Search Products" class="input-text Search" value="" />
                                                    <button class="header-search icon wpv-overlay-search-trigger-Big">&#57645;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div class="shadow-bottom"></div>
                    <div class="boxed-layout">
                        <div class="pane-wrapper clearfix">
                            <asp:ContentPlaceHolder ID="CPContent" runat="server">
                            </asp:ContentPlaceHolder>
                            <footer class="main-footer">
                                <div class="footer-sidebars-wrapper">
                                    <div id="footer-sidebars" data-rows="8">
                                        <div class="row" data-num="0">
                                            <aside class="cell-1-4  fit">
                                                <section id="text-18" class="widget widget_text">
                                                    <div class="textwidget">
                                                        <div class="push  wpv-hide-lowres" style="margin-bottom: -25px"></div>
                                                        <a href="default.aspx">
                                                            <img class="aligncenter size-full wp-image-9815" src="http://www.mac-egypt.com/images/logo.png" alt="footer-logo" width="157" height="106" /></a>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  fit" style="display: none;">
                                                <section id="text-13" class="widget widget_text">
                                                    <div class="textwidget">
                                                        <div class="push " style="height: 35px"></div>
                                                        <a href="shop.aspx">
                                                            <h4><span class='icon shortcode theme  use-hover' style='color: #3B6097; font-size: 30px !important;'>&#57476;</span> Our Products »</h4>
                                                        </a>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  fit" style="display: none;">
                                                <section id="text-23" class="widget widget_text">
                                                    <div class="textwidget">
                                                        <div class="push " style="height: 35px"></div>
                                                        <a href="News.aspx">
                                                            <h4><span class='icon shortcode theme  use-hover' style='color: #3B6097; font-size: 30px !important;'>&#57452;</span>  Our News »</h4>
                                                        </a>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  last fit" style="float: right;">
                                                <section id="text-20" class="widget widget_text">
                                                    <div class="textwidget">
                                                        <div class="push " style="height: 35px"></div>
                                                        <a class="wpv-scroll-to-top">
                                                            <h4><span class='icon shortcode theme  use-hover' style='color: #3B6097; font-size: 24px !important;'>&#58905;</span>  Top</h4>
                                                        </a>
                                                    </div>
                                                </section>
                                            </aside>
                                        </div>
                                        <div class="row" data-num="4">
                                            <aside class="cell-1-4  fit">
                                                <section id="text-15" class="widget widget_text">
                                                    <h4 class="widget-title">ABOUT</h4>
                                                    <div class="textwidget">
                                                        <p>Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, vitae est. </p>
                                                        <p>Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel, rutrum eu ipsum. </p>
                                                        <p style="display: none;"><a href="shop.aspx" target="_self" style='font-size: 12px;' class="vamtam-button accent1  button-border hover-accent1 "><span class='icon shortcode theme  use-hover' style='color: #ffffff; font-size: 30px !important;'>&#57476;</span><span class="btext" style="font-size: 12pt;" data-text="GO TO SHOP ">Go to Shop</span></a></p>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  fit">
                                                <section id="nav_menu-16" class="widget widget_nav_menu">
                                                    <h4 class="widget-title">SERVICES</h4>
                                                    <div class="menu-services-container">
                                                        <ul id="menu-services" class="menu">
                                                            <li id="menu-item-9669" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9669"><a href="#">GENERAL BUILDER →</a></li>
                                                            <li id="menu-item-9668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9668"><a href="#">HOUSE EXTENSIONS →</a></li>
                                                            <li id="menu-item-9671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9671"><a href="#">REFURBISHMENT →</a></li>
                                                            <li id="menu-item-9672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9672"><a href="#">ELECTRICITY →</a></li>
                                                            <li id="menu-item-9947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9947"><a href="#">BATHROOMS →</a></li>
                                                            <li id="menu-item-9670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9670"><a href="#">KITCHENS →</a></li>
                                                        </ul>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  fit">
                                                <section id="text-21" class="widget widget_text">
                                                    <h4 class="widget-title">CONTACTS</h4>
                                                    <div class="textwidget">
                                                        <p>
                                                            London, UK<br />
                                                            10, Firs Avenue, Muswell Hill,
                                                        </p>
                                                        <p>
                                                            Tel: 02 562-958<br />
                                                            Mobile: 02 562-95
                                                        </p>
                                                        <p>
                                                            E-mail: <a href="#"><span class="__cf_email__" data-cfemail="c2aaa7aeaead82a1adacb1b6b0b7a1b6abadaceca1adaf">[email&#160;protected]</span></a><br />
                                                            <a href="#">Get directions on the map</a> →
                                                        </p>
                                                        <p><a href="#"><span class='icon shortcode  border use-hover' style='color: #3B6097; font-size: 18px !important;'>&#58155;</span></a>  <a href="#"><span class='icon shortcode  border use-hover' style='color: #3B6097; font-size: 18px !important;'>&#58159;</span></a>  <a href="#"><span class='icon shortcode theme border use-hover' style='color: #3B6097; font-size: 18px !important;'>&#58904;</span></a></p>
                                                    </div>
                                                </section>
                                            </aside>
                                            <aside class="cell-1-4  last fit">
                                                <section id="text-22" class="widget widget_text">
                                                    <h4 class="widget-title">GET A FREE QUOTE</h4>
                                                    <div class="textwidget">
                                                        <div role="form" class="wpcf7" id="wpcf7-f9873-p4-o1" lang="en-US" dir="ltr">
                                                            <div class="screen-reader-response"></div>
                                                            <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                <div style="display: none;">
                                                                    <input type="hidden" name="_wpcf7" value="9873" />
                                                                    <input type="hidden" name="_wpcf7_version" value="4.9.1" />
                                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9873-p4-o1" />
                                                                    <input type="hidden" name="_wpcf7_container_post" value="4" />
                                                                </div>
                                                                <div class="vamtam-rsvp-form">
                                                                    <span class="wpcf7-form-control-wrap your-name">
                                                                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="name" aria-required="true" aria-invalid="false" placeholder="Name" /></span><br />
                                                                    <span class="wpcf7-form-control-wrap your-subject">
                                                                        <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" /></span><br />
                                                                    <span class="wpcf7-form-control-wrap your-message">
                                                                        <textarea name="your-message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Describe in detail"></textarea></span><br />
                                                                    <input type="submit" value="SEND" class="wpcf7-form-control wpcf7-submit" />
                                                                </div>
                                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </section>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                            <div class="copyrights">
                                <div class="limit-wrapper">
                                    <div class="row">
                                        <div class="wpv-grid grid-1-3" style="text-shadow: 1px 1px #313439;">
                                            ©
                                            <asp:Label ID="YearLabel" runat="server" />
                                            All Rights Reserved.  <a href="default.aspx">Modern Arab Communication </a>by <a href="#" target="_self">M.A.C.</a>
                                        </div>
                                        <div class="wpv-grid grid-1-3 textcenter">&nbsp;&nbsp;</div>
                                        <div class="wpv-grid grid-1-3 textright" style="text-shadow: 1px 1px #313439;">Contact Our Help Department | 20 - 2 -24147814 ,<a href="contact.aspx" target="_self">sales@mac-egypt.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(setInterval(resetWidth, 30));
            function resetWidth() {
                var winWidth = $(window).width();
                //var mncntnt = $(".mainContnt").width();
                //alert($(".mainContnt").attr('style'));
                if (winWidth > 959 || $(".btnToggleMenu").css("display") == "none") {
                    //alert($(".btnToggleMenu").css("display"));
                    $('.mainContnt').css('width', '100%');
                    $('.myAside').css("display", "none");
                    $('.mainContnt').css('margin-left', '0');
                }
            }
            $('.btnToggleMenu').click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    // odd clicks
                    $('.myAside').css("display", "none");
                    //var wds = ($(window).width()) - 230;
                    $('.mainContnt').css('width', '100%');
                    $('.mainContnt').css('margin-left', '0');
                } else {
                    // even clicks
                    $('.myAside').css("display", "table-cell");
                    var wds = ($(window).width()) - $('.myAside').width();
                    $('.mainContnt').css('width', wds + 'px');
                    $('.mainContnt').css('margin-left', $('.myAside').width());
                }
                $(this).data("clicks", !clicks);
            });
            $(".wpv-scroll-to-top").click(function () {
                //$(this).preventDefault();
                //alert('hi');
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
                return false;
            });
        </script>
        <asp:ContentPlaceHolder ID="CPScript" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
